body {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  background-attachment: fixed;
}
#city-name {
  font-size: 52px;
  color: #d7d3d7;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.material-symbols-rounded {
  color: #d7d3d7;
  font-size: 48px !important;
  text-align: center !important;
}
#weather-info {
  font-size: 24px;
  color: #d7d3d7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
#temperature {
  font-size: 54px;
  color: #d7d3d7;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.temperature-type {
  display: block;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  color: #d7d3d7;
  max-width: 62px;
}
a {
  text-decoration: none;
  color: #d7d3d7; /* it is not working, try later */
}
.temperature-type:hover {
  background: #2e1c2f;
  color: #d7d3d7;
}
#main-col {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(10.6px);
  height: auto;
  padding: 20px 10px 80px 10px;
}
.searchbar {
  border: none;
  background: transparent;
}
button {
  border: none;
  background: transparent;
  color: #483649;
  font-size: 18px;
}
.button {
  border: none;
  background: transparent;
  color: #374936;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.material-symbols-outlined {
  color: #d7d3d7;
  font-size: 38px !important;
}
.details {
  color: #342035;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.col-sm-9 {
  color: #342035;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.day {
  color: #614f62;
  font-size: 28px;
}
.today-date {
  color: #d7d3d7;
  font-size: 48px;
}
.time {
  color: #d7d3d7;
  font-size: 48px;
}
.github {
  font-size: 12px;
  color: #614f62;
}
